<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
<!--   
   <context:component-scan base-package="com.lip6.services.*" />
    <context:annotation-config/> 
    
    -->
        <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
  
  


<bean id="contact1" class="com.lip6.entities.Contact">
<property name="firstName" value="Paul"/>
<property name="lastName" value="Le servant"/>
<property name="email" value="paul.leservant@gmail.com"/>
<property name="address" ref="address1"/>
<property name="phones">
<set>
<ref bean="phone1"/>
<ref bean ="phone2"/>
</set>
</property>
</bean>

<bean id="address1" class="com.lip6.entities.Address">
<property name="street" value="11 rue du lac"/>
<property name="city" value="Maisons-Laffitte"/>
<property name="zip" value="78600"/>
<property name="country" value="France"/>
</bean>

<bean id="phone1" class="com.lip6.entities.PhoneNumber">
<property name="phoneKind" value="Portable"/>
<property name="phoneNumber" value="0634567854"/>
<property name="contact" ref="contact1"/>
</bean>

<bean id="phone2" class="com.lip6.entities.PhoneNumber">
<property name="phoneKind" value="Fixe"/>
<property name="phoneNumber" value="0123453421"/>
<property name="contact" ref="contact1"/>
</bean>

<bean id="contact2" class="com.lip6.entities.Contact">
<property name="firstName" value="Marie"/>
<property name="lastName" value="Chevrel"/>
<property name="email" value="marie.chevrel@gmail.com"/>
<property name="address" ref="address2"/>
<property name="phones">
<set>
<ref bean="phone3"/>
<ref bean ="phone4"/>
</set>
</property>
</bean>

<bean id="address2" class="com.lip6.entities.Address">
<property name="street" value="12 rue du lac"/>
<property name="city" value="Sartrouville"/>
<property name="zip" value="78600"/>
<property name="country" value="France"/>
</bean>

<bean id="phone3" class="com.lip6.entities.PhoneNumber">
<property name="phoneKind" value="Portable"/>
<property name="phoneNumber" value="0634567854"/>
<property name="contact" ref="contact2"/>
</bean>

<bean id="phone4" class="com.lip6.entities.PhoneNumber">
<property name="phoneKind" value="Fixe"/>
<property name="phoneNumber" value="0123453421"/>
<property name="contact" ref="contact2"/>
</bean>

</beans>
